.Test {
    background-color: #b8f8f8;
    position: static;

    cursor: default;
    transition: none !important;
    /*margin-left: 1VW;*/
    padding: 0;
    text-align: left;
}

.folderContainer {
    /*position: static;*/
    width: 100%;
    padding-left: 10px;


}

.folderChild {
    position: absolute;

}

.jeremyBtn {
    cursor: default;
    transition: none !important;
    /*margin-left: 1VW;*/
    padding: 0;
    text-align: left;
}
